

:root {
  --primary: #045842;
  --secondary: #ec5909;
}

*{
  color: rgba(0, 0, 0, 0.8);
}

/* background colors */
.primary {
  background-color: var(--primary);
}
.secondary {
  background-color: var(--secondary);
}
.white {
  background-color: #fff;
}

/* text colors */
.primary-text {
  color: var(--primary);
}
.secondary-text {
  color: var(--secondary);
}
.text-white {
  color: #fff;
}
.text-black {
  color: rgba(0, 0, 0, 0.8) !important;
}

/* border colors */
.primary-border {
  border: 2px solid var(--primary);
}
.secondary-border {
  border: 2px solid var(--secondary);
}

/* text sizes */
.tex--mini{
  font-size: 16px;
}
.text-small {
  font-size: 18px;
}
.text-medium {
  font-size: 24px;
}
.text-large {
  font-size: 36px;
}

/* heights and widths */
.h-screen {
  height: 100vh;
}
.w-screen {
  width: 100vw;
}
.w-400 {
  width: 400px;
}
.w-300{
  width: 300px;
}
.w-110{
  width: 110px;
}

/* cards */

.card-md {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.card-sm {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}



/* html elements */

.cursor-pointer{
  cursor: pointer;
}
input{
    border-radius: 0;
    height: 40px !important;
    border: 2px solid rgb(85, 85, 85) !important;
    width: 100%;
    padding-left: 20px;
}

input:focus{
    border: 2px solid var(--primary) !important;
    box-shadow: none !important;
    outline: none !important;
}
button{
    border-radius: 0;
    height: 40px !important;
    border: none !important;
}
a{
    color: #000 !important;
}
h1{
  margin-bottom: 0 !important;
}
i{
  cursor: pointer;
  font-size: 22px;
}
.underline{
  text-decoration: underline;
}

/* antd override */

.ant-form-item{
    margin-bottom: 5px !important;
}